<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/bootstrap/css/bootstrap-theme.css" rel="stylesheet"/>
    <!--<link href="/css/templatemo-style.css" rel="stylesheet" />-->
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style type="text/css">



        </style>
</head>
<body>
<div class="tm-header">
    <div class="container-fluid">
        <div class="tm-header-inner">
            <a href="#" class="navbar-brand tm-site-name">欢迎来到ebbs</a>

            <!-- navbar -->
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="nav nav-pills" style="display: inline-block; color: white;" >
                            <li class="active">
                                <a href="#">首页</a>
                            </li>
                            <li>
                                <a href="#">成电校园</a>
                            </li>
                            <li >
                                <a href="#">科技交流</a>
                            </li>
                            <li >
                                <a href="#">就业创业</a>
                            </li>
                        </ul>
                        <div class="form-group" style="display: inline-block">
                            <table>
                                <tr>
                                    <td>
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-default" onclick="login()" >登录</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-default" onclick="reg()" >注册</button>
                                        </div>
                                    </td>

                                </tr>
                            </table>

                        </div >
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<img th:src="@{/image/tm-home-img.jpg}" width="100%" height="500" />
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="300x200" th:src="@{/image/1.png}"/>
                        <div class="caption">
                            <h3>
                               成电校园
                            </h3>
                            <p>
                                有一种回忆，也许我们只能从发黄的相片中找寻。
                                时光义无反顾地流逝，唯有这份对母校的情谊历久弥新。
                                珍惜美好的大学时光，校园青春点滴，你我共同记忆。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="/campus">立即进入</a> <a class="btn" href="#">立即进入</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="300x200" th:src="@{/image/communication.jpg}" />
                        <div class="caption">
                            <h3>
                               科技交流
                            </h3>
                            <p>技术只是解决问题的选择，而不是解决问题的根本
                                Stay Hungry, Stay Foolish
                                Die Luft der Freiheit weht
                                应景干货长文，不读不是程序猿：提问的智慧
                            </p>
                            <p>
                                <a class="btn btn-primary" href="/hello">立即进入</a> <a class="btn" href="#">立即进入</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="300x200" th:src="@{/image/fun.jpg}" />
                        <div class="caption">
                            <h3>
                              就业创业
                            </h3>
                            <p>
                                人世沉浮如电光石火，盛衰起伏，变幻难测；如果你有天才，勤奋则使你如虎添翼；如果你没有天才，勤奋将使你赢得一切。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="/hello">立即进入</a> <a class="btn" href="#">立即进入</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    function login(){
        window.location.href='login';
    }

    function reg(){
        window.location.href='register';
    }
</script>
</body>
</html>